<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Sentiment analysis</h1>
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        <input type="text" class="search" placeholder="search your emotions"  name="text"/>
        <button type="submit"><img src="../static/images/search.svg" alt=""></button>
    </form>
    <p class="para">{{text}}</p>
    <p class="score">{{score}}</p>
    </div>

    
</body>
</html>